.form-container {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: #DCDCDC;
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
  padding: 10px 30px;
}

.group {
  padding: 10px;
}

#error-container {
  visibility: hidden;
  color: red;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  margin: 10px auto;
  max-width: 600px;
  font-size: 110%;
}

.transparent {
  opacity: 0.2;
}